
@{
    ViewBag.Title = "AllUserTasksView";
}

<h2>AllUserTasksView</h2>

<table class="table table-bordered table-responsive table-hover">
    @*table style and below are table headers*@
    <tr>
        <th>Task Id</th>
        <th>Description </th>
        <th>Date </th>
        <th>Completed</th>
        <th>Owner</th>
    </tr>
    @*from the viewbag in ______ gets all the tasks from the table*@
    @foreach (var theUsersTasks in ViewBag.theUsersTasks)
    {
        <tr>
            <td>@theUsersTasks.taskID</td>
            <td>@theUsersTasks.description</td>
            <td>@theUsersTasks.date</td>
            <td>@theUsersTasks.isComplete</td>
            <td>@theUsersTasks.userID</td>
            <td>
                <a href="/Home/!!!!!NEEDSNAME!!!!!!">Delete</a> @*view actions in home controller*@
                <a href="/Home/!!!!!NEEDSNAME!!!!!!">Complete Task</a>
            </td>
        </tr>
    }
</table>

<p><a href="/Home/!!!!!NEEDSNAME!!!!!!">Log Out</a></p>@*Sean, do we need link to log out*@
