
@{
    ViewBag.Title = "UserTasksView";
}

<h2>UserTasksView</h2>

<table class="table table-bordered table-responsive table-hover">
    @*table style and below are table headers*@
    <tr>
        <th>Task Id</th>
        <th>Description </th>
        <th>Date </th>
        <th>Completed</th>
        <th>Owner</th>
    </tr>
    @*from the viewbag in ______ gets all the tasks from the table*@
    @foreach (var idTasks in ViewBag.theUserTasks)
    {
        <tr>
            <td>@idTasks.taskID</td>
            <td>@idTasks.description</td>
            <td>@idTasks.date</td>
            <td>@idTasks.isComplete</td>
            <td>@idTasks.userID</td>
            <td>
                <a href="/Home/!!!!!NEEDSNAME!!!!!!">Delete</a> @*view actions in home controller*@
                <a href="/Home/!!!!!NEEDSNAME!!!!!!">Complete Task</a>
            </td>
        </tr>
    }
</table>