
@{
    ViewBag.Title = "UserTasksView";
}

<h2>UserTasksView</h2>

<table class="table table-bordered table-responsive table-hover">
    @*table style and below are table headers*@
    <tr>
        <th>Task Id</th>
        <th>Description </th>
        <th>Date </th>
        <th>Completed</th>
        <th>Owner</th>
        <th>Delete</th>
    </tr>
    @*from the viewbag in ______ gets all the tasks from the table*@
    @foreach (var idTasks in ViewBag.theUserTasks)
    {
        <tr>
            <td>@idTasks.taskID</td>
            <td>@idTasks.description</td>
            <td>
                @idTasks.date
            </td>
            <td>
                @idTasks.isComplete
                <a href="/Home/UserTaskComplete?whichTasks=@idTasks.taskID" class="btn-danger btn-sm" name="complete">Completed</a>
                <a href="/Home/UserTaskNotComplete?whichTasks=@idTasks.taskID" class="btn-danger btn-sm" name="notcomplete">Not Completed</a>
            </td>
            <td>@idTasks.userID</td>
            <td><a href="/Home/UserTaskDelete?deleteItem=@idTasks.taskID" onclick="return confirm('Are you sure you want to delete this task?')" class="btn-danger btn-sm" name="delete">Delete Task</a></td>
        </tr>
    }
</table>
ViewBag.Current